* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
}

.http-request {
  display: flex;
  width: calc(100% - 300px);
  flex-direction: column;
  overflow: hidden;
}

.side-bar {
  min-width: 300px;
  max-width: 300px;
  position: relative;
  height: 100hv;
  border-right: 1px solid #333;
  background-color: antiquewhite;
}

.side-bar-buttons {
  width: 100%;
  height: 25px;
  background-color: aliceblue;
}

.side-bar-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.collection {
  padding: 5px;
  height: 28;
  overflow:hidden;
  text-overflow: ellipsis;
  align-content: center;
}
.request-bar {
  display: flex;
  padding-bottom: 8px;
}

.rb-select,
.rb-input{
  margin:0;
  padding: 8px;
  border: 1px solid #ccc;
}

.rb-select {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.rb-input {
  border-left: none;
  border-radius: 0 4px 4px 0;
  width: 400px;
}

.tab-btn {
  padding: 12px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
}

.tab-btn:hover {
  background: #e9e9e9;
}

.tab-btn.active {
  background: white;
}

.tab-btn.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background: #333;
}

.tab-content.active {
  display: block;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-left {
  margin-left: 8px;
  display: flex;
  gap: 8px; 
}

.tab-contents {
  overflow-x: hidden;
  position: relative;
  flex: 1;
  width: 100%;
}

.tab-content {
  padding: 10px;
  display: none;
  overflow: auto;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.resizer {
  height: 5px;
  width: 100%;
  cursor: row-resize;
  bottom: 0;
  position: absolute;

  background: linear-gradient(
    to bottom,
    transparent 2px,    /* Top 2px transparent */
    #333 2px,            /* 3rd pixel = red */
    #333 3px,            /* End red at 3px */
    transparent 3px     /* Rest transparent */
  );
}

.cover {
  user-select: none;
  height: 350px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.request-field {
  display: flex;
  position: relative;
  margin: 10px;
  flex: 1;
  flex-direction: column;
}

.body-text {
  flex: 1;
  resize: none;
}

.response-field {
  user-select: none;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  max-width: 100%;
}

.info-p {
  font-size: 12px;
  flex: 0 0 auto;
}

.response-status {
  padding-right: 8px;
}